header{
	background: #E6E6FA;
}
/* оформление меню на шапке сайта */
#menu1{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	z-index: 10;
}
.menu-main{
	position:relative;
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: auto;
	list-style: none;
}
#menu1 > ul::after{
	display: block;
	width: 100%;
	height: 0px;
	clear: both;
	content: ' ';
}
.menu-main li{
	position: relative;
	display: block;
	float: left;
	width: auto;
	height: auto;
}
.menu-main li a{
	display: block;
	padding: 9px 25px 0px 25px;
	font-size: 14px;
	line-height: 1.3em;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	height: 36px;
	box-sizing: border-box;
	color: #008080;
}
.menu-main li ul{
	position: absolute;
	top: 36px;
	left: 0px;
	display: none;
	width: 150px;
	background: #dfdff5;
}
.menu-main li:hover ul{
	display: block;
}
.menu-main li ul li{
	float: none;
	width: 100%;
}
.menu-main li ul li a{
	display: block;
	width: 100%;
	text-transform: none;
	height: auto;
	padding: 7px 25px;
	box-sizing: border-box;
	border-top: 1px solid #00008B;
	color: #008080;
}